extend default

block content
	p.
		Lorem ipsum dolor sit amet, pri tacimates salutatus forensibus ea. Sit ceteros hendrerit
		consequuntur an, dicta tibique eu vis. Habeo impetus comprehensam te nam, in sit feugait
		principes. Cibo possit oblique qui cu, aperiri vivendum sed ne. Minim repudiare ne cum,
		ex graeco quodsi ius.

	p
		|Epicurei constituam sed at, id placerat similique tincidunt eam. Te quas inermis nominavi
		|vel, in sea erant debitis reformidans, an cum eripuit democritum. Usu modus primis et, his
		|errem scripserit cu. Mea cu aperiri repudiandae, id sit offendit noluisse torquatos. Sit
		|te suas fastidii, cum nonumy iriure maluisset at, vix te graeco moderatius argumentum.

	p
		|Huh - lots to learn, but this is awesome. Clearly the first thing I need to do is replace
		|the standard Lorem Ipsum with Zombie Ipsum. After that, the world...
		|-Alex
	p.
		AND NOW, ZOMBIE IPSUM:
	
	p.
		Zombies reversus ab inferno, nam malum cerebro. De carne animata corpora quaeritis. Summus sit​​, morbo vel maleficia? De Apocalypsi undead dictum mauris. Hi mortuis soulless creaturas, imo monstra adventus vultus comedat cerebella viventium. Qui offenderit rapto, terribilem incessu. The voodoo sacerdos suscitat mortuos comedere carnem. Search for solum oculi eorum defunctis cerebro. Nescio an Undead zombies. Sicut malus movie horror.
		
	p.
		test on word wrap was successful - dang jade, you rad